body {
  font-family: Gruppo;
}

h2 {
  font-size: 50px;
}

p {
  font-size: 22px;
}

.hero {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(0, 52, 89) 0%,
    rgb(0, 168, 232) 90%
  );
  text-align: center;
  margin: 0px;
  padding: 60px 20px;
}

.hero h1 {
  font-size: 100px;
  font-weight: bold;
  line-height: 1;
  margin: 0px;
  padding: 0px;
}

.hero img {
  margin: 0px;
  padding: 0px;
}

.hero p {
  font-size: 60px;
}
