body {
  font-family: Gruppo;
}

h2 {
  font-size: 50px;
  margin-bottom: 0px;
  text-align: center;
}

h4 {
  font-size: 30px;
}

p {
  font-size: 22px;
  text-align: center;
  margin: 0px;
}

ul {
  padding: 0px;
  font-size: 20px;
}

.hero {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(0, 52, 89) 0%,
    rgb(0, 168, 232) 90%
  );
  text-align: center;
  margin: 0px;
  padding: 60px 20px;
}

.hero h1 {
  font-size: 100px;
  font-weight: bold;
  line-height: 1;
  margin: 20px 0px;
  padding: 0px;
  font-family: Antonio;
}

.hero img {
  height: 200px;
  width: 200px;
  margin: 0px;
  padding: 0px;
}

.hero p {
  font-size: 60px;
}

.daycare {
  text-align: left;
}

.preschool {
  text-align: left;
}

.training {
  font-size: 20px;
  text-align: center;
  margin: 0px;
  opacity: 0.6;
}

.loyalty {
  text-align: left;
}

.intro-content {
  margin: 20px 0px;
  padding: 0px 200px;
}

.img {
  height: 210px;
  width: 230px;
  border-radius: 10px;
}

.img-content {
  padding: 0px 50px;
  margin: 0px 0px 25px;
}

.daycare-content {
  margin: 0px 0px 25px 0px;
  padding: 0px 200px;
}

.attention {
  font-size: 18px;
  opacity: 0.5;
  margin: 0px 0px 15px 0px;
}

.preschool-content {
  margin: 0px;
  padding: 0px 200px;
}

.rates-content {
  margin: 0px;
  padding: 0px 200px;
}

.loyalty-content {
  margin: 0px;
  padding: 0px 200px;
}

.features-content {
  text-align: center;
  margin-top: 10px;
}

.features-content ul {
  list-style: none;
  text-align: center;
}

.list-img {
  width: 10px;
  height: 10px;
  margin-bottom: 2px;
}
