body {
  font-family: Gruppo;
}

h2 {
  font-size: 50px;
}

p {
  font-size: 22px;
  text-align: center;
}

.hero {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(0, 52, 89) 0%,
    rgb(0, 168, 232) 90%
  );
  text-align: center;
  margin: 0px;
  padding: 60px 20px;
}

.hero h1 {
  font-size: 100px;
  font-weight: bold;
  line-height: 1;
  margin: 0px;
  padding: 0px;
}

.hero img {
  height: 200px;
  width: 200px;
  margin: 0px;
  padding: 0px;
}

.hero p {
  font-size: 60px;
}

.daycare {
  text-align: left;
}

.preschool {
  text-align: left;
}

.training {
  font-size: 20px;
  text-align: center;
}

.loyalty {
  text-align: left;
}

.intro-content {
  margin: 0px;
  padding: 0px 200px;
}

.daycare-content {
  margin: 0px;
  padding: 0px 200px;
}

.preschool-content {
  margin: 0px;
  padding: 0px 200px;
}

.rates-content {
  margin: 0px;
  padding: 0px 200px;
}

.loyalty-content {
  margin: 0px;
  padding: 0px 200px;
}
